<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./esstilo/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>
<body>

    <header class="header">

        barra de herramientas

    </header>

    <main>  

        <aside>
            contenido secundario

        </aside>


        <section>
        <h2>
            Sub barra de herramientas
        </h2>

        <p>

        </p>

        </section>


    </main>
    
</body>
</html>